body { margin: 0; padding: 0; }

header { grid-area: header; }
nav { grid-area: nav; }
article { grid-area: article; }
footer { grid-area: footer; margin-top: 100px; }

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "nav"
        "article"
        "footer";
}

@media screen and (min-width: 1081px) {
    .wrapper {
        max-width: 900px;
        margin: auto;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
            "nav        article"
            "footer     footer";
    }

    header h1 {
        max-width: 900px;
        margin: auto;
    }
}